@import '../../../styles/variables.scss';

.itemWrapper {
  position: relative;
}
.cardImage {
  height: 230px;
  border-radius: 10px;
}
.cardItem {
  box-shadow: none;
}
.cardText {
  text-align: center;
  .orderText {
    font-size: larger;
    color: $darkGray;
  }
}
.actionBlock {
  position: absolute;
  right: 5px;
  top: 5px;
}
