@import '../../../styles/variables.scss';

.paymentItem {
  width: 100%;
  background-color: $tablesEvenRow;
  border-radius: 10px;
}
.actionBlockWrapper {
  position: relative;
  .actionBlock {
    position: absolute;
    right: 15px;
    top: 10px;
  }
}

.icons {
  cursor: pointer;
  margin-left: 10px;
}
