@import '../../styles/variables.scss';

.paginationBlock {
  p {
    cursor: pointer;
  }
}

.currentPage {
  color: $currentPageText;
  border-radius: 50%;
  background-color: $currentPageBackground;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: bold;
  cursor: pointer;
}
