.customerAdministration-screen {
  position: relative;

  #save-customerAdministration-button {
    position: absolute;
    top: 0;
    right: 0;
  }
  .plusMinusInput{
    min-width: 100px;
    min-height: 100px;
  }
}
