.authWrapperContainer {
  .authWrapper {
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1518241353330-0f7941c2d9b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
  }
  .authWrapperText {
    text-align: center;
  }
  .authWrapperChild {
    height: 100vh;
  }
}
