.authWrapperContainer {
  .authWrapper {
    height: calc(50vh - 25px);
    background: url('../../assets/authBackgroundBoats.jpg') no-repeat 50%;
    background-size: cover;
  }

  .authWrapper2 {
    height: calc(50vh - 25px);
    background: url('../../assets/authBackgroundCar.jpg') no-repeat 50%;
    background-size: cover;
  }

  .authWrapperText {
    text-align: center;
  }

  .authWrapperChild {
    height: calc(100vh - 50px);
  }
}
