@import '../../styles/variables.scss';

.font-screen {
  position: relative;

  #save-font-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.link-to-customer{
  color: $currentPageText;
}