@import '../../../styles/variables.scss';

.mainContainer {
  background-color: $tablesEvenRow;
  width: 100%;
  border-radius: 10px;
}
.mainRow {
  width: 45%;
}
.odd {
  border-radius: 5px;
  background-color: $tablesOddRow;
}
.even {
  border-radius: 5px;
  background-color: $tablesEvenRow;
}
