.welcomLogin {
  padding-bottom: 20px;
}
.loginContainer{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;

  .headerSignIn {
    margin-bottom: 5px;
  }

  .signUpContainer {
    display: flex;
    align-items: baseline;
    margin-top: 15px;
  }

  .signUpLink {
    padding-left: 10px;
  }

  .forgotPasswordLink {
    text-decoration: none;
    color: inherit;
  }

  .orLogin {
    margin: 20px 0 -10px 0;
  }

  .MuiPaper-root {
    box-shadow: none;
  }
}
