.cancelSelectIcon {
  position: absolute;
  right: 30px;
  cursor: pointer;
}
.cancelDateIcon{
  position: absolute;
  right: 42px;
  cursor: pointer;
}
.cancelInputCustomIcon{
  position: absolute;
  right: 10px;
  cursor: pointer;
}
