// ToDo: same as myaccount, make common solution
.reco-details-screen {
  position: relative;

  #save-reco-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .MuiTab-root {
    text-transform: none;
  }
}
