.container {
  .header {
    margin-bottom: 4px;
  }
  .title {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .label {
    margin-bottom: 10px;
    font-style: italic;
    font-size: 15px;
  }
  .MuiFormControlLabel-label {
    font-weight: bold;
  }
  .radioLabel {
    font-size: 15px;
    padding-left: 30px;
  }
  .closeModal {
    position: absolute;
    top: 30px;
    right: 40px;

    :hover {
      cursor: pointer;
    }
  }
}
