@import '../../styles/variables.scss';

.table {
  height: calc(100% - 64px);
  width: 100%;
  flex-grow: 1;
  padding: 20px 30px 20px 30px;
  background-color: $tableHeader;
}
.tableBorder {
  border: 2px solid $mainTableBorder;
  border-radius: 10px;
  padding: 15px;
}
.mainLayout {
  height: 100%;
}
