@import '../../styles/variables.scss';

.table {
  height: calc(100vh - 63px);
  width: 100%;
  flex-grow: 1;
  background-color: $tableHeader;
  padding: 20px;
  overflow: auto;
}
.mainLayout {
  height: 100%;
  overflow: hidden;
}
