// ToDo: same as myaccount, make common solution
@import '../../styles/variables.scss';

.price-details-screen{
  position: relative;

  #save-price-button{
    position: absolute;
    top: 0;
    right: 0;
  }

  .MuiTextField-root{
    margin-top: 20px;
  }

  .MuiTab-root{
    text-transform: none;
  }

  .copyIcon:hover{
    color: $currentPageText;
    cursor: pointer;
  }
}
