$tablesOddRow: #f7f7f9;
$tablesEvenRow: #ffffff;
$tableHeader: #f9f9f9;
$tableCellBorder: #e2e2e2;
$editIcon: #fee650;
$deleteIcon: #fd8e8d;
$copyIcon: #99de90;

$navItemButton: #c6c0c0;
$navItemButtonHover: #719ded;
$navItemButtonActive: #719ded;

$currentPageBackground: #e2e2e23d;
$currentPageText: #4791db;

$mainTableBorder: #f3f5fa;

$darkGray: #0f0f0f;
$lightGray: #b9b1b1;
$disabledGray: #d6d6d6;
$discountInputText: #b9b9b9;

$validationRed: #ff0202;

$clickable: #719ded;

$statusEnabled: #00A300;
