$tablesOddRow: #f7f7f9;
$tablesEvenRow: #ffffff;
$tableHeader: #f9f9f9;
$editIcon: #fee650;
$deleteIcon: #fd8e8d;
$copyIcon: #99de90;

$navItemButton: #c6c0c0;
$navItemButtonHover: #719ded;
$navItemButtonActive: #719ded;

$currentPageBackground: #cde7fb;
$currentPageText: #4791db;

$mainTableBorder: #f3f5fa;

$darkGray: #303030;
$lightGray: #b9b1b1;

$buttonRed: red;
