@import '../../../../styles/variables.scss';

.value-param-item{
  .value-params-actions{
    div:not(.default-value-item) {
      .MuiSvgIcon-root{
        opacity: 0;
        transition: .2s ease-in-out;
      }
    }
  }

  &:hover{
    .value-params-actions{
      div:not(.default-value-item) {
        .MuiSvgIcon-root{
          opacity: 1;
        }
      }
    }
  }
}