.filters-modal {
  width: 484px;
  max-height: 564px;

  .filters-inputs-container {
    overflow-y: overlay;
    div {
      gap: 5px;
    }
  }
}

.MuiMenuItem-root:hover {
  h6 {
    color: #0f0f0f;
  }
}
