@import '../../../styles/variables.scss';

.localization-input-holder{
  .localization-text-block{
    width: 100%;
    min-height: 62px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 15px;
    padding-right: 30px;

    & > * {
      margin: 5px 0;
    }
    ul{
      margin-left: 30px;
    }
  }

  .localization-text-legend{
    display: inline-block;
    padding: 0 10px;
    position: absolute;
    top: -10px;
    left: -12px;
    background: #fff;
    transform: scale(0.75);

    &.empty {
      top: 22px;
      left: 5px;
      transform: scale(1);
    }
  }

  .edit-loc-field{
    opacity: 0;
  }

  &:hover{
    .edit-loc-field{
      opacity: 1;
    }
  }
}

.quill {
  min-height: 62px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-radius: 4px;
  padding-right: 30px;
}

.ql-tooltip {
  z-index: 9;
}

.edit-loc-field{
  position: absolute;
  top: 19px;
  right: 15px;
  transition: all .3s;

  &:hover{
    color: $navItemButtonHover;
    cursor: pointer;
  }
}
.errorText{
  font-size: 12px;
  position: absolute;
  color: #ff0202;
  font-style: italic;
  bottom: 0;
  padding-bottom: 5px;
}
.inputsWrapper{
  position:relative;
}
.countryListItem{

  &:hover{
    background-color: #4791db21;
    cursor: pointer;
  }
}
#root {
  .mce-content-body {
    border: 1px solid $disabledGray;
    padding: 17px 10px;
    min-height: 56px;
    border-radius: 4px;
    width: 100%;

    &.mce-edit-focus {
      border-color: $navItemButtonActive;
    }

    &:focus-visible {
      outline: none;
    }

    &:hover {
      border-color: $darkGray;
    }

    &:not([dir=rtl])[data-mce-placeholder]:not(.mce-visualblocks)::before {
      color: $discountInputText;
      left: 10px;
    }

    ul, ol{
      padding-left: 20px;
    }
  }
}
.notificationText{
  position: absolute;
  bottom: -33px;
  padding-bottom: 20px;
  font-size: 12px;
  font-style: italic;
  color: #b9b1b1,
}
