// ToDo: same as myaccount, make common solution
@import '../../styles/variables.scss';

.discount-details-screen {
  position: relative;


  .MuiTab-root {
    text-transform: none;
  }
}
.selectFormControl {
  margin: 10px;
}
.discountInput {
  color: $discountInputText;
}
