.authWrapperContainer {
  .authWrapper {
    height: 100%;
    background-size: cover;
  }

  .authWrapperText {
    text-align: center;
  }

  .authWrapperChild {
    height: 100%;
  }
  .realmField {
    min-height: 50px;
    justify-content: center;
    text-align: center;
    line-height: 100px;
    padding: 20px;
    background-color: #0f0f0f;
    width: 100%;
    color: white;
  }
}
