@import '../../styles/variables.scss';

.side-nav  {
  .apiLink {
    margin-right: 14px;
  }
  .listItemButton {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 2px;
    text-decoration: none;
    color: $navItemButton;
  }
  .listItemButton:hover {
    color: $navItemButtonHover;
    text-decoration: none;
  }
  .linkTitle {
    padding-left: 14px;
  }
  .active {
    color: $navItemButtonActive;
  }
}

