@import '../../styles/variables.scss';

.wrapper-add-cart .label {
  color: $darkGray;
}

.wrapper-add-cart .spread {
  width: 100%;
}

.wrapper-add-cart .spread-85 {
  padding-right: 10px;
  width: 85%;
}

.wrapper-add-cart .spread-15 {
  width: 15%;
}

.wrapper-add-cart .validation {
  font-weight: 400;
  color: $validationRed;
  font-size: 0.75rem;
}
