[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}


.packages-table {
  .MuiTableRow-root {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
  }

  .MuiTableCell-root{
    border-bottom: none;
  }
}