@import '../../../styles/variables.scss';

.product-files{
  form{
    width: 100%;
  }

  .block-actions{
    right: -75px;

    &.single {
      right: -40px;

      .MuiSvgIcon-root:hover{
        color: $deleteIcon;
      }
    }

    .MuiSvgIcon-root {
      margin: 0 5px;
      color: $navItemButton;
      transition: .3s ease-in-out;

      &.save-block {
        position: absolute;
        top: -80px;

        &:hover{
          color: $navItemButtonActive;
        }
      }

      &:hover{
        color: $navItemButtonActive;

        &:nth-child(2){
          color: $deleteIcon;
        }
      }
    }
  }

  &.disable-block{
    pointer-events: none;
    opacity: 0.5;
  }

  &.existing-item{
    margin-bottom: 25px;
  }

  & + .MuiDivider-root{
    max-width: 690px;
    margin-left: 225px;
    margin-bottom: 25px;
  }
}