@import '../../../styles/variables.scss';

.product-files{
  form{
    width: 100%;
  }

  .block-actions{
    right: -75px;

    &.single {
      right: -40px;

      .MuiSvgIcon-root:hover{
        color: $deleteIcon;
      }
    }

    .MuiSvgIcon-root {
      margin: 0 5px;
      // color: $navItemButton;
      transition: .3s ease-in-out;

      &.save-block {
        position: absolute;
        top: -80px;

        &:hover{
          color: $navItemButtonActive;
        }
      }

      &:hover{
        color: $navItemButtonActive;

        &:nth-child(2){
          color: $deleteIcon;
        }
      }
    }
  }

  &.disable-block{
    pointer-events: none;
    opacity: 0.5;
  }

  &.existing-item{
    margin-bottom: 25px;
  }

  & + .MuiDivider-root{
    max-width: 690px;
    margin-left: 225px;
    margin-bottom: 25px;
  }
}

.product-prices{
  .transparent-cell{
    min-width: 75px;
    background: #fff;
    border: 0;
    border-left: 1px solid #e0e0e0;
    padding: 0;

    button{
      color: #b9b1b1;

      &:hover{
        color: $deleteIcon;
      }
    }
  }

  tr:nth-child(2n - 1):not(.new-price-row){
    background-color: #fff;
  }

  th, td{
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .outdated{
    opacity: .2;
    text-decoration: line-through;
  }

  .new-price-row{
    td{
      min-width: 150px;
      max-width: 150px;

      &.transparent-cell{
        button{    
          &:hover{
            color: $navItemButtonActive;
          }
        }
      }
    }
  }
}

.status-enabled {
  color: $statusEnabled;
}

.status-disabled {
  color: $validationRed;
}
