@import '../../../styles/variables.scss';

.paymentImageWrapper {
  width: 60px;
  background-color: $tableHeader;;
}

.paymentImage {
  width: 100%;
}

.paymentItem {
  width: 100%;
  background-color: $tablesEvenRow;
  border-radius: 10px;

  .actionBlockWrapper {
    position: relative;
  }
}
