@import '../../../styles/variables.scss';

.paymentImageWrapper {
  width: 60px;
  background-color: $tablesEvenRow;
}

.paymentImage {
  width: 100%;
}

.paymentItem {
  width: 100%;
  background-color: $tablesEvenRow;
  border-radius: 10px;

  .actionBlockWrapper {
    position: relative;
    .actionBlock {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
}
