@import '../../styles/variables.scss';

.theme-screen {
  position: relative;

  #save-theme-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.link-to-customer{
  color: $currentPageText;
}