@import '../../styles/variables.scss';

.statusEnabled {
  color: $copyIcon;
}
.statusDisable {
  color: $deleteIcon;
}
.tableLink{
  text-decoration: none;
  color: #4791dc;
}

.MuiDataGrid-cellCheckbox {
  .Mui-disabled {
    display: none;
  }
}