@import '../../styles/variables.scss';

.tableRowGrid {
  display: flex;
  padding: 5px 15px;
  min-height: 64px;

  &:nth-of-type(odd) {
    background-color: $tablesOddRow;
  }
  &:nth-of-type(even) {
    background-color: $tablesEvenRow;
  }

  &.error-row{
    background-color: $deleteIcon;

    .MuiTypography-colorSecondary{
      color: #fff;
    }
  }

  .tableCellItemGrid {
    overflow-x: hidden;
    .tableCellItem {
      display: inherit;
      white-space: nowrap;
      text-align: center;
    }
  }
  .icons {
    cursor: pointer;
    margin-left: 2px;
  }
  .deleteIcon {
    color: #959595;
  }
  .copyIcon {
    color: #959595;
  }
  .editIcon {
    color: #959595;;
  }
  .statusEnabled {
    color: $copyIcon;
  }
  .statusDisable {
    color: $deleteIcon;
  }

  .deleteIcon:hover, .copyIcon:hover, .editIcon:hover {
    color:#4791dc;
  }
}
.tableHeaderGrid {
  padding: 8px 15px;
  overflow-x: hidden;
  background-color: $tableHeader;
  .tableHeader {
    display: inherit;
    white-space: nowrap;
    // text-align: left;
  }
}

.table-items-actions {
  .CSVLinkBlock {
    text-decoration: none;
    .importExportFab {
      margin: 20px;
      padding: 15px;
      background-color: #f9f9f9;
      box-shadow: none;
      color: #959595;
      :hover {
        color:#4791dc;
      }
      .importExportIcon {
        left: -4px;
        position: relative;
      }
    }
  }
  .deleteFab {
    margin: 20px;
    padding: 15px;
    margin-left: -10px;
    background-color: #f9f9f9;
    box-shadow: none;
    color: #959595;
    :hover {
      color:#4791dc;
    }
    .deleteIcon {
      left: -4px;
      position: relative;
    }
  }
}
.sortableHeader {
  cursor: pointer;
}
.sortActiveDesc {
  border-bottom: 2px solid $navItemButtonActive;
}
.sortActiveAsc {
  border-top: 2px solid $navItemButtonActive;
}
