@import '../../../styles/variables.scss';

.itemWrapper {
  background-color: $tablesEvenRow;
  border-radius: 10px;
  position: relative;
}
.cardImage {
  height: 140px;
  border-radius: 10px;
  position: relative;
}
.cardItem {
  box-shadow: none;
}
.cardText {
  text-align: center;
  .orderText {
    font-size: larger;
    color: $darkGray;
  }
}
