@import '../../styles/variables.scss';

.wrapper-add-cart .label {
  color: $darkGray;
}

.wrapper-add-cart .select-label {
  margin-top: -5px;
  margin-left: 15px;
}

.wrapper-add-cart .spread {
  width: 100%;
}

.wrapper-add-cart .spread-85 {
  padding-right: 10px;
  width: 85%;
}

.wrapper-add-cart .spread-15 {
  width: 15%;
}

.wrapper-add-cart .validation {
  color: $validationRed;
}
